@import '~antd/dist/antd.css';


.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.5);
    margin: 16px;
    text-align: center;
}

  
.site-layout .site-layout-background {
    background: #fff;
}


[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.site-card-wrapper {
    padding: 5px;
    background: none;
    
}

